/* 基本样式，适用于所有设备 */
video {
  width: 100%; /* 视频宽度填满容器 */
  height: auto; /* 高度自动，保持视频的原始宽高比 */
}

/* 媒体查询，针对平板和更大屏幕 */
@media (min-width: 768px) {
  video {
    /* 可以设置一个最大宽度，或者保持100%宽度 */
    max-width: 100%;
  }
}

/* 媒体查询，针对桌面显示器 */
@media (min-width: 1024px) {
  video {
    /* 可以设置一个更合适的宽度或最大宽度 */
    max-width: 960px; /* 假设960px是你想要的最大视频宽度 */
  }
}